<h1>Import Contacts</h1>
<div class='container import-contacts-container'>
  <%= label_tag 'file', 'Upload your CSV file' %>
  <%= file_field_tag :file, accept: 'text/csv', id: 'contacts_file_field' %>
  <%= button_tag 'Import', class: 'upload-contacts-button' %>
</div>
<div id='load-mapping-columns'>
  <%= form_tag import_contacts_submit_path do %>
  <div class="form-table">
  </div>
  <%= submit_tag 'Finish Import', class: 'hidden submit-contacts' %>
  <% end %>
</div>